<div id="root">world</div>
<script>
        import { ctrl } from '@tsei/ctrl/src/index'
        const c = ctrl({ hello: `world` })
        const root = document.getElementById('root')!

        c.sub(() => {
                root.innerText = c.current.hello
        })
</script>
