<div id="root">world</div>
<script>
        import { ctrl } from '@tsei/ctrl/src/index'
        const c = ctrl({ hello: 'world' })
        c.sub(() => {
                document.getElementById('root')!.innerText = c.current.hello
        })
</script>
