<div id="root">
</div>

<script>
        import { ctrl, Controller } from '@tsei/ctrl/src/index'
        // import { ctrl, Controller } from '@tsei/ctrl'

        const root = document.getElementById("root")!


        const _ = ctrl.create
        ctrl.render(
                _(Controller, {}, [
                                _('iframe', {
                                        src: '/id',
                                        className: 'mt-10 w-[1920px] h-[1280px] bg-white',
                                }),
                                _('iframe', {
                                        src: '/id',
                                        className: 'mt-10 w-[390px] h-[844px] bg-white',
                                }),
                                _('iframe', {
                                        src: '/',
                                        className: 'mt-10 w-[1920px] h-[1280px] bg-white',
                                }),
                                _('iframe', {
                                        src: '/',
                                        className: 'mt-10 w-[390px] h-[844px] bg-white',
                                }),
                        ],
                ),
                root
        )
</script>

<style>
        html,
        body {
                margin: 0;
                width: 100dvw;
                height: 100dvh;
        }
</style>