@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
        --header-height: 48px;
        --sidebar-width: 240px;
        --sidebar-height: calc(100vh - 48px);
}

._ctrl-nav {
        z-index: 10;
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 0;
        width: 100%;
        height: var(--header-height);
        font-weight: 500;
        color: rgb(250, 247, 245);
        background-color: rgb(44, 44, 44);
}

._ctrl-main {
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 100vw;
        height: 100vh;
        transform: translate(var(--sidebar-width), var(--header-height));
}

._ctrl-aside {
        z-index: 10;
        position: fixed;
        bottom: 0;
        width: var(--sidebar-width);
        height: var(--sidebar-height);
        background: rgb(44, 44, 44);
        font-weight: 500;
        color: rgb(250, 247, 245);
}

._ctrl-input {
        border: none;
        outline: none;
        font-size: 14px;
        background-color: transparent;
}

._ctrl-button {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
}

._ctrl-number::-webkit-outer-spin-button,
._ctrl-number::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

html,
body {
        margin: 0;
        background: rgb(82, 82, 82);
}
